/* ======== Table of Contents ========
1. Global styles   
2. Layout
    2.1 Grid
    2.2 Flex
3. Typography
4. Utilities
5. Sections
6. Conponents
7. Media queries
*/


/* ======== 1. Global Styles ======== */
*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    /* ======== Fonts ======== */
    /* Font Families */
    --ff-body: 'Overpass', sans-serif;
    --ff-heading: 'Ubuntu', sans-serif;
    /* Font sizes */
     --fs-h1: 4.5rem; /* 72 */
    --fs-h2: 3rem;  /* 48 */
    --fs-h3: 1.5rem; /* 24 */
    --fs-p: 1rem; /* 16 */
    /* Font weights */
    --fw-700: font-weight: 700;
    --fw-600: font-weight: 600;
    --fw-500: font-weight: 500;
    --fw-400: font-weight: 400;
    --fw-300: font-weight: 300;
    /* ======== Colors ======== */
    /* Primary colors */
    --red: hsl(365, 100%, 66%);
    --light-red: hsl(355, 100%, 74%);
    --blue: hsl(208, 49%, 24%);
    /* Neutral colors */
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(240, 2%, 79%);
    --dark-gray: hsl(255, 13%,34%);
    --dark-blue: hsl(240, 10%, 16%);
    /* Gradients */
    --nav-gradient: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    --footer-gradient: linear-gradient(to right, hsl(273, 17%, 21%), hsl(237, 23%, 23%));
}

body{
    font-family: var(--ff-body);
}

/* ======== 2. Layout ======== */
/* 2.1 Grid */
/* 2.2 Flex */
/* ======== 3. Typography ======== */

h1{
    font-family: var(--ff-heading);
    font-size: var(--fs-h1);
}

h2{
    font-family: var(--ff-heading);
    font-size: var(--fs-h2);
}

h3{
    font-family: var(--ff-heading);
    font-size: var(--fs-h3);
}

p{
    font-size: var(--fs-p);
}

/* ======== 4. Utilities ======== */

a{
    text-decoration: none;
}

/* ======== 5. Sections ======== */
/* ======== 6. Conponents ======== */
/* ======== 7. Media queries ======== */